table {
    border-collapse: collapse;
    width: 80%;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 40px;
}

table, td {
    border: 1px solid #aaa;
}

th {
    border: 1px solid #aaa;
    background-color: #176264;
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    margin-right: 70px;
    margin-left: 70px;
}

input[type="number"] {
   width:60px;
}
